In [0]:
#### importing all the necessary libraries
### tweepy - An easy-to-use Python library for accessing the Twitter API.
### pandas - showing data in tabular format and accessing it.
### json -   handling JSON data extracted from Twitter.

import tweepy
import pandas as pd
import json

In [0]:
#### authorization by using consumer key and access_token

auth = tweepy.OAuthHandler('GnniEt0kNvDoataIMMtGZpm4v',

OBIRcffuWgUfZTQ46AhAMOwM59zJTWfsPw4iGtJablJuSGLdCB"','')

auth.set_access_token('','')

In [0]:
### accessing twitter API.

api = tweepy.API(auth)

In [0]:
#### VARIABLE: Twitter_user = target user  that is MIDASIIITD
#### Targeting user by using get_user funnction.

Twitter_user = 'MIDASIIITD'

try:
  user = api.get_user(Twitter_user)
except:
  print('Authorization falied.Check permisssion key or no such user')

In [124]:
### Checking if Twitter API is Working Properly and printing basic details of user.
### VARIABLE: no_of_status =  stores no of tweets by user.

no_of_status = user.statuses_count

print('User name = ',user.screen_name)
print('no_of_followers = ',user.followers_count)
print('no_of_tweets = ',no_of_status)

User name =  midasIIITD
no_of_followers =  292
no_of_tweets =  344

In [0]:
#result_set_midas = user.timeline(count = no_of_status,truncated = False)

In [0]:
#no_of_tweets_ret = len(result_set_midas)

#user.statuses_count,no_of_tweets_ret

In [0]:
#last_id = result_set_midas[-1]._json['id']

In [0]:
#result_set_midas_older = user.timeline(max_id = last_id,count = no_of_status-no_of_tweets_ret )
#no_of_tweets_ret_older = len(result_set_midas_older)
#no_of_tweets_ret_older

In [0]:
#print(result_set_midas[-1]._json['id'])
#print(result_set_midas_older[0]._json['id'])

In [0]:
### INTENTION
### extract all tweets of user
### user.timeline() gives 200 tweets at a time but we want more than that around **330**.
### This function retrieves all the tweets of user by running the function many times.

def retrieving_tweets(user,first_tweet_id,no_of_status):
  
  
  
  '''
  PARAMETERS : user  : api.get_user(Twitter_user)   Twitter_user = midasiiitd 
               first_tweet_id : id of first tweet of user.
               no_of_status : no of tweets by user.
               
  While function runs multiple times untill all the tweets are retrieved.
   
  '''
    
  no_of_tweets_ret = 1
  result_set_midas = user.timeline(count = 1,truncated = False)
  no_of_tweets_not_retrieved = no_of_status
  last_id = first_tweet_id

   
  while (no_of_tweets_not_retrieved != 0):
        
      result_set_midas_older = user.timeline(max_id = last_id,count = no_of_tweets_not_retrieved,truncated = False) #Getting 200 tweets of user
      no_of_tweets_ret_ = len(result_set_midas_older) # number of tweets retrieved in first batch
      no_of_tweets_not_retrieved -= no_of_tweets_ret_  # number of tweets left.
      result_set_midas = result_set_midas + result_set_midas_older # adding all the tweets retrieved.
      last_id = result_set_midas[-1]._json['id'] # last tweet id: to get next batch batch of tweets 
     
    
  return result_set_midas

In [0]:
first_tweet_id = user.timeline(count = 1,truncated = False)[0]._json['id']
result = retrieving_tweets(user,first_tweet_id,no_of_status)

In [0]:
### appending the data with json data.
data = []
for i in range(no_of_status):
  data.append(result[i]._json)

In [133]:
### saving it in jsonlines files
with open('result.jsonlines','w') as fp:
    json.dump(data, fp)
fp.close

In [0]:
### Parsing in json Files
with open('result.jsonlines','r') as fp:
    try:
        data = json.load(fp)
    except:
        print('JSON is not loading')
    fp.close

In [135]:
len(data)

344

In [0]:
coloumn = ['Date','Time','text','retweet_count','favorite_count']

In [0]:
### 2d matrix which will store all tweet information
### rows : no of tweets
### coloumn : ['Date','Time','Text','number of retweet','Likes','No of media']
tweet = [['' for i in range(len(coloumn)+1)] for j in range(no_of_status)]

In [0]:
### formatting the data in the recieved from json files
for i in range(no_of_status):
    for j in range(len(coloumn)-1):
      if j == 0:
        temp = data[i]['created_at']
        
        tweet[i][0] = temp[0:11] + temp[-4:]
        tweet[i][1] = temp[11:20]
        
      else:
        tweet[i][j+1] = data[i][coloumn[j+1]]
    try:
        tweet[i][-1] = len([data[i]['entities']['media']])
    except:
        tweet[i][-1] = 'None'

In [0]:
coloumn = ['Date','Time','Text','number of retweet','Likes','No of media']
d = pd.DataFrame(tweet,columns= coloumn )

In [140]:
### showing in tabular format
d

,Date,Time,Text,number of retweet,Likes,No of media
0,Wed Apr 10 2019,09:01:29,Clarification: Our earlier post which indicate...,0,0,None
1,Wed Apr 10 2019,09:01:29,Clarification: Our earlier post which indicate...,0,0,None
2,Wed Apr 10 2019,04:51:26,RT @IIITDelhi: Applications open for MTech (CB...,1,0,None
3,Tue Apr 09 2019,16:45:07,RT @IIITDelhi: We are delighted to share that ...,14,0,None
4,Tue Apr 09 2019,05:04:27,RT @Harvard: Professor Jelani Nelson founded A...,36,0,None
5,Tue Apr 09 2019,05:04:11,RT @emnlp2019: For anyone interested in submit...,17,0,None
6,Mon Apr 08 2019,19:38:09,RT @multimediaeval: Announcing the 2019 MediaE...,15,0,None
7,Mon Apr 08 2019,07:08:12,"Many Congratulations to @midasIIITD student, S...",2,18,None
8,Mon Apr 08 2019,03:27:42,@midasIIITD thanks all students who have appea...,0,5,None
9,Sun Apr 07 2019,14:17:29,"@himanchalchandr Meanwhile, complete CV/NLP ta...",0,0,None
10,Sun Apr 07 2019,14:17:09,@sayangdipto123 Submit as per the guideline ag...,0,0,None
11,Sun Apr 07 2019,11:43:24,We request all students whose interview are sc...,1,1,None
12,Sun Apr 07 2019,06:55:19,"Other queries: ""none of the Tweeter Apis give ...",2,5,None
13,Sun Apr 07 2019,06:53:38,"Other queries: ""do we have to make two differe...",1,4,None
14,Sun Apr 07 2019,05:32:27,"Other queries: ""If using Twitter api, it does ...",1,6,None
15,Sun Apr 07 2019,05:29:40,Response to some queries asked by students on ...,1,7,None
16,Sat Apr 06 2019,17:11:29,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,2,0,None
17,Sat Apr 06 2019,16:43:27,@nupur_baghel @PennDATS Congratulation @nupur_...,3,18,None
18,Fri Apr 05 2019,16:08:37,We have emailed the task details to all candid...,1,11,None
19,Fri Apr 05 2019,04:05:11,RT @rfpvjr: Our NAACL paper on polarization in...,16,0,None
20,Fri Apr 05 2019,04:04:43,RT @kdnuggets: Effective Transfer Learning For...,11,0,1
21,Wed Apr 03 2019,18:31:53,RT @stanfordnlp: What’s new in @Stanford CS224...,59,0,None
22,Wed Apr 03 2019,17:04:32,RT @DeepMindAI: Today we're releasing a large-...,873,0,None
23,Wed Apr 03 2019,09:03:40,RT @ylecun: Congratulations Jitendra Malik !\n...,16,0,None
24,Wed Apr 03 2019,07:46:02,RT @IIITDelhi: Another chance to take admissio...,4,0,None
25,Tue Apr 02 2019,04:20:13,Dear @midasIIITD internship candidates who hav...,1,8,None
26,Tue Apr 02 2019,02:44:54,Looking forward to your paper submission to @I...,1,5,None
27,Tue Apr 02 2019,02:35:44,RT @ngrams: Reproducibility in multimedia rese...,7,0,None
28,Mon Apr 01 2019,06:53:08,Online application for https://t.co/DJFDrQsHZP...,2,7,None
29,Sun Mar 31 2019,10:21:24,RT @ACMMM19: A final reminder of the Reproduci...,10,0,None
...,...,...,...,...,...,...
314,Sat Aug 11 2018,08:48:40,@soujanyaporia @nlp Congrats Dr. @soujanyaporia,0,1,None
315,Thu Aug 09 2018,10:17:53,RT @kdnuggets: Ultimate Guide to Getting Start...,111,0,1
316,Thu Aug 09 2018,05:59:57,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,265,0,None
317,Wed Aug 08 2018,11:30:56,@midasIIITD is looking for motivated IIITD MTe...,1,2,None
318,Wed Aug 08 2018,05:53:48,@IIITDelhi @ponguru @RatnRajiv The results of ...,1,3,1
319,Wed Aug 08 2018,05:45:58,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,1,0,None
320,Tue Aug 07 2018,07:16:33,RT @kdnuggets: Comparison of Top 6 Python NLP ...,40,0,1
321,Tue Aug 07 2018,02:05:12,Check more details of the 20th IEEE Internatio...,1,1,None
322,Tue Aug 07 2018,01:58:49,MR2AMC@ISM 2018 will be organized by @RatnRaji...,1,1,None
323,Tue Aug 07 2018,01:50:33,"Our workshop proposal named, ""MR2AMC: Multimod...",1,1,None
324,Mon Aug 06 2018,17:48:23,@NUSComputing Congratulations Abdelhak and Pro...,0,0,None
325,Mon Aug 06 2018,17:46:59,RT @goodfellow_ian: One of the most anticipate...,103,0,1
326,Mon Aug 06 2018,06:06:47,@the_dhumketu Great to have you in @midasIIITD,0,0,None
327,Fri Aug 03 2018,05:56:33,Congratulation @soujanyaporia for being appoin...,1,6,None
328,Wed Aug 01 2018,11:47:15,@IIITDelhi @the_dhumketu Thanks team @midasIII...,1,5,1
329,Wed Aug 01 2018,11:20:07,RT @IIITDelhi: Congratulations @midasIIITD int...,4,0,None
330,Wed Aug 01 2018,05:06:47,RT @learning_pt: Profile of the 5 Indian under...,4,0,None
331,Tue Jul 31 2018,12:11:52,Have a look at the list of accepted papers in ...,0,1,None
332,Tue Jul 31 2018,02:06:26,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,264,0,None
333,Mon Jul 30 2018,07:30:51,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,2,0,None
334,Sat Jul 28 2018,11:07:11,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",57,0,None
335,Sat Jul 28 2018,06:14:09,RT @kdnuggets: .@Bloomberg launches free cours...,105,0,None
336,Sat Jul 28 2018,06:13:48,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,7,0,None
337,Sat Jul 28 2018,04:08:21,RT @IIITDelhi: We are delighted to announce th...,6,0,None
338,Fri Jul 27 2018,06:46:44,Get ready for the annual technical fest of @II...,2,3,None
339,Fri Jul 27 2018,04:07:31,Congratulations Dr. @RatnRajiv and team @midas...,2,8,None
340,Wed Jul 25 2018,05:14:35,Congratulations MIDAS @midasIIITD intern Prakh...,1,5,None
341,Tue Jul 24 2018,10:33:23,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,1,2,None
342,Tue Jul 24 2018,10:12:34,It feels great to be the part of @IIITDelhi. h...,1,2,None
343,Tue Jul 24 2018,09:46:26,"Thank you, @toonzratn for designing the logo o...",1,4,1

In [141]:
d.columns

Index(['Date', 'Time', 'Text', 'number of retweet', 'Likes', 'No of media'], dtype='object')